//background colors
$primary-background-color:#333333;
$dropdown-background-color:#3f3f3f;
$secondary-background-color:#4f4f4f;
$tertiary-background-color:#5b5a5a;

// font colors
$primary-font-color:#f6f6f6;
$secondary-font-color:#d77a61;

// icon colors
$icon-color:#e8e8e8;