@import url("https://fonts.googleapis.com/css2?family=Alegreya+SC:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,400;1,500;1,700;1,800;1,900&family=DM+Serif+Text:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+SC:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,400;1,500;1,700;1,800;1,900&family=DM+Serif+Text:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
body {
  margin: 0%;
  background-color: #333333;
  color: #f6f6f6;
}

.navigation {
  display: flex;
  flex-wrap: nowrap;
  box-sizing: border-box;
  height: 80px;
  width: 100vw;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: #333333;
  padding: 30px 40px 30px 40px;
  z-index: 2;
  align-items: center;
  flex-grow: 3;
}
.navigation__brand {
  font-family: "Alegreya SC";
  font-weight: 400;
  font-size: xx-large;
}
.navigation__brand--last-name {
  color: #d77a61;
}
.navigation__items {
  display: flex;
  flex-wrap: nowrap;
  list-style: none;
  margin: 0px;
  align-items: center;
  margin-left: auto;
}
.navigation__items-list {
  padding: 20px;
  font-size: 18px;
}
.navigation__toggle-button {
  width: 2em;
  height: 2em;
  fill: #f6f6f6;
  cursor: pointer;
  display: none;
}

#toggleBtn {
  display: none;
}

input[type=checkbox]:checked ~ .navigation__items {
  right: 0%;
}

.nav-links {
  color: #f6f6f6;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
  letter-spacing: 1px;
}

.nav-links:hover {
  color: #d77a61;
  transition: 0.7s;
}

.introductory-content {
  padding: 30px 40px 30px 40px;
  position: relative;
  top: 80px;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 30px 40px 30px 40px;
}
.introductory-content__heading {
  grid-column-start: 1;
  grid-column-end: 3;
  font-family: "Roboto";
  font-weight: 200;
  font-size: 7.5vw;
  margin-bottom: 0;
  margin-top: 0;
}
.introductory-content__heading-underline {
  border: 1px solid #d77a61;
  margin-inline-start: 5%;
  width: 20%;
}
.introductory-content__para {
  grid-row-start: 3;
  font-size: large;
  letter-spacing: 0.5px;
}

.portfolio {
  padding: 30px 40px 30px 40px;
}
.portfolio__header {
  font-family: "Alegreya SC";
  font-weight: 300;
  font-size: xx-large;
}
.portfolio__header--icon {
  width: 0.75em;
  height: 0.75em;
}

.portfolio-card {
  margin-bottom: 35px;
}

.portfolio-card-thumbnail {
  height: 40vw;
  background-color: #161616;
  background-position: center;
  background-position-y: center;
}
.portfolio-card-thumbnail--project1 {
  background-image: url("../assets/project1.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.portfolio-card-thumbnail--project2 {
  background-image: url("../assets/project2.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.portfolio-card-thumbnail--project3 {
  background-image: url("../assets/project3.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.portfolio-card-content {
  display: grid;
  grid-template-columns: 65% 35%;
}
.portfolio-card-content__header {
  font-family: "Alegreya SC";
  font-weight: lighter;
  font-size: x-large;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}
.portfolio-card-content__icon-container {
  grid-column-start: 2;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-left: auto;
}

.icon-background {
  display: flex;
  background-color: #4f4f4f;
  min-width: 2em;
  height: 2em;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-left: 10px;
  transition: background-color 1.5s;
}

.icon-background:hover {
  background-color: #161616;
}

.portfolio-icon-properties {
  width: 1em;
  height: 1em;
  fill: #f6f6f6;
}

.programming-language {
  background-color: #4f4f4f;
  padding: 5px 15px;
  font-size: x-small;
}

.about {
  padding: 30px 40px 30px 40px;
  padding-top: 0%;
}
.about__header {
  font-family: "Alegreya SC";
  font-weight: 300;
  font-size: xx-large;
  margin-block-end: 0;
}
.about__heading-underline {
  border: 1px solid #d77a61;
  margin-inline-start: 5%;
  margin-top: 0;
  margin-bottom: 1em;
  width: 10%;
}
.about__image {
  width: 99%;
  object-fit: cover;
}
.about__content {
  font-size: large;
  letter-spacing: 0.5px;
}

.skills {
  padding: 30px 40px 30px 40px;
}
.skills__header {
  font-family: "Alegreya SC";
  font-weight: 300;
  font-size: xx-large;
  margin-block-end: 0;
}
.skills__heading-underline {
  border: 1px solid #d77a61;
  margin-inline-start: 5%;
  margin-top: 0;
  margin-bottom: 1em;
  width: 15%;
}
.skills__content {
  display: none;
}
.skills__icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skills-icon-container {
  width: 3em;
  text-align: center;
  margin-bottom: 5%;
}
.skills-icon-container__logo {
  height: 2em;
  width: 2em;
  fill: #e8e8e8;
}
.skills-icon-container__name {
  font-size: xx-small;
}

.contact {
  padding: 30px 40px 30px 40px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
.contact__header {
  text-align: center;
  font-weight: lighter;
  font-size: 15vw;
}
.contact__btn {
  padding: 2em 4em;
  width: fit-content;
  transition: all 1s;
  box-shadow: 3px 3px white inset, 3px 3px black;
}
.contact__btn:active {
  cursor: pointer;
  background-color: #5b5a5a;
  box-shadow: 3px 3px black inset, 3px 3px white;
}
.contact__btn:hover {
  background-color: #5b5a5a;
}
.contact__btn-title {
  color: white;
  text-decoration: none;
}

.footer {
  padding: 10px;
  text-align: center;
  background-color: #3f3f3f;
  margin-top: 30px;
}
.footer__icon-background {
  align-content: center;
  margin: 15px;
}

.footer-icons {
  width: 1.5em;
  height: 1.5em;
  fill: #f6f6f6;
  opacity: 0.8;
  padding: 0.7em;
  background-color: #5b5a5a;
  border-radius: 50%;
  transition: 0.5s;
}

.footer-icons:hover {
  background-color: #333333;
  cursor: pointer;
}

@media only screen and (max-width: 576px) {
  .navigation__toggle-button {
    display: block;
    margin-left: auto;
  }
  .navigation__items {
    position: fixed;
    width: 100%;
    height: 30vh;
    background-color: #3f3f3f;
    top: 80px;
    left: 0;
    right: -100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    padding: 0;
    transition: all 0.5s;
  }
  .navigation__items-list {
    font-size: 15px;
  }
  .navigation__brand {
    font-size: x-large;
  }
  .introductory-content {
    grid-template-columns: repeat(1, 1fr);
  }
  .introductory-content__heading {
    font-size: 15vw;
    margin-bottom: 0;
    margin-top: 0;
  }
  .introductory-content__para {
    font-size: medium;
  }
  .about__content {
    font-size: medium;
  }
  .skills {
    padding-top: 0%;
  }
  .contact {
    padding-top: 0;
  }
  .footer {
    margin-top: 30px;
  }
  .footer__icon-background {
    margin: 5px;
  }
  .footer-icons {
    width: 1em;
    height: 1em;
    fill: #f6f6f6;
    opacity: 0.8;
    padding: 0.5em;
    background-color: #5b5a5a;
    border-radius: 50%;
    transition: 0.5s;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .navigation__items-list {
    padding: 0px;
    font-size: 15px;
  }
  .navigation__brand {
    font-size: x-large;
  }
  .portfolio__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .portfolio-card-thumbnail {
    width: 40vw;
    height: 20vw;
  }
}
@media only screen and (min-width: 577px) {
  .skills {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "heading para para para" "horizontalLine horizontalLine horizontalLine horizontalLine" "icons icons icons icons";
  }
  .skills__header {
    grid-area: heading;
  }
  .skills__heading-underline {
    grid-area: horizontalLine;
    margin-inline-start: 2%;
    width: 8%;
  }
  .skills__content {
    display: block;
    grid-area: para;
    align-self: center;
    font-size: large;
    letter-spacing: 0.5px;
  }
  .skills__icons {
    grid-area: icons;
  }
  .skills-icon-container {
    width: 4em;
    text-align: center;
    margin-top: 5%;
  }
  .skills-icon-container__logo {
    height: 3em;
    width: 3em;
  }
  .skills-icon-container__name {
    font-size: x-small;
  }
  .contact {
    padding-top: 0%;
  }
  .contact__header {
    font-size: 7.5vw;
  }
  .about {
    padding-left: 10%;
    padding-right: 10%;
    display: grid;
    grid-template-areas: "heading picture" "horizontalLine picture" "para picture";
    align-items: center;
  }
  .about__header {
    grid-area: heading;
  }
  .about__heading-underline {
    grid-area: horizontalLine;
  }
  .about__image {
    grid-area: picture;
  }
  .about__content {
    grid-area: para;
    padding-right: 5%;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .navigation__items-list {
    padding: 10px;
  }
}
@media only screen and (min-width: 769px) {
  .portfolio__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .portfolio-card-thumbnail {
    width: 30vw;
    height: 20vw;
  }
  .programming-language {
    font-size: small;
  }
  .skills__heading-underline {
    margin-inline-start: 2%;
    width: 5%;
  }
}
@media only screen and (min-width: 993px) {
  .about {
    padding-top: 30px;
    padding-left: 20%;
    padding-right: 20%;
  }
  .skills-icon-container {
    margin-top: 2%;
    width: 6em;
  }
  .skills-icon-container__logo {
    height: 4em;
    width: 4em;
  }
  .skills-icon-container__name {
    font-size: medium;
  }
}
