@use "./display.scss";
@use "./mediaQueries.scss";
@import "./palette.scss";
@import "./fonts.scss";

body{
    margin: 0%;
    background-color: $primary-background-color;
    color: $primary-font-color;
}

.navigation{
    @include display.default-flex;
    box-sizing: border-box;
    height: 80px;
    width: 100vw;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: $primary-background-color;
    @include display.default-padding;
    z-index: 2;
    align-items: center;
    flex-grow: 3;
   
    &__brand{
        font-family: $special-font;
        font-weight: 400;
        font-size: xx-large;

        &--last-name{
            color: $secondary-font-color;
        }
    }

    &__items{
        @include display.default-flex;
        list-style: none;
        margin: 0px;
        align-items: center;
        margin-left: auto;
    
        &--list{
            padding: 20px;
            font-size: 18px;
        }
    }

    &__toggle-button{
        width: 2em;
        height: 2em;
        fill: $primary-font-color;
        cursor: pointer;
        display: none;
    }

}

#toggleBtn{
    display: none;
}

input[type=checkbox]:checked ~ .navigation__items{
    right: 0%;
}

a{
    color: $primary-font-color;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    letter-spacing: 1px ;    
}
 
a:hover{
    color: $secondary-font-color;
    transition: 0.7s;
}

.introductory-content{
    @include display.default-padding;
    position: relative;
    top: 80px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    @include display.default-padding;

    &__heading{
        grid-column-start: 1;
        grid-column-end: 3;
        font-family: $heading-font;
        font-weight: 200;
        font-size: 7.5vw;
        margin-bottom: 0;
        margin-top: 0;
    }

    &__heading-underline{
        width: 20%;
        border: 1px solid $secondary-font-color;
        margin-inline-start: 5%;
    }

    &__para{
        grid-row-start: 3;
        font-size: large;
        letter-spacing: 0.5px;
    }
}

.portfolio{
    @include display.default-padding;
    
    &__header{
        @include display.default-sub-header;

        &--icon{
            width:0.75em;
            height:0.75em;
        }
    }
}

.portfolio-card{
    margin-bottom: 35px;
}

.portfolio-card-thumbnail{
        height:40vw;
        background-color: $secondary-background-color;
}

.portfolio-card-content{
    display: grid;
    grid-template-columns: 65% 35%;
   
    &__header{
        font-family: $special-font;
        font-weight: lighter;
        font-size: x-large;
        margin-block-start: 0.2em;
        margin-block-end: 0.2em;
    }

    &__icon-container{
        grid-column-start: 2;
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-left: auto;
        
    }
    
}

.icon-background{
    display: flex;
    background-color: $secondary-background-color;
    min-width: 2em;
    height: 2em;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-left: 10px;
}

.portfolio-icon-properties{
    width: 1em;
    height: 1em;
    fill: $primary-font-color ;
}

.programming-language{
    background-color: $secondary-background-color;
    padding: 5px 15px;
    font-size:x-small;
}


@include mediaQueries.phone{
    .navigation{

        &__toggle-button{
            display: block;
            margin-left: auto;
        }

        &__items{
            position: fixed;
            width: 100%;
            height: 30vh;
            background-color: $dropdown-background-color;
            top: 80px;
            left: 0;
            right: -100%;
            @include display.default-flex;
            flex-direction: column;
            padding: 0;
            transition: all .5s;
            
            &--list{
                font-size: 15px;
            }
        }

        &__brand{
            font-size: x-large;
        }
    
    }

    .introductory-content{
        grid-template-columns: repeat(1, 1fr);
        
        &__heading{
            font-size: 15vw;
            margin-bottom: 0;
            margin-top: 0;
        }
        &__para{
            font-size: medium;
        }

    }
 
}

@include mediaQueries.medium-phone{

    .navigation{
        &__items{

            &--list{
                padding: 0px;
                font-size: 15px;
            }
        }

        &__brand{
            font-size: x-large;
        }
    }

    .portfolio{
        &__content{
        @include display.wrap-flex;
        justify-content: space-between;
        }
    }

    .portfolio-card-thumbnail{
        width:40vw;
        height: 20vw;
    }
    
}

@include mediaQueries.tablet{
    .navigation{
        &__items{
            &--list{
                padding: 10px;
            }
        }
        
    }
}

@include mediaQueries.tablet-and-above{
    .portfolio{
        &__content{
            @include display.wrap-flex;
            justify-content: space-between;
        }
    }

    .portfolio-card-thumbnail{
        width:30vw;
        height: 20vw;
    }
    
    .programming-language{
        font-size:small;
    }

}

.section-header{
    font-family: $special-font;
    font-weight:500;
    grid-area: heading;
    font-size:xx-large;
}

#aboutSection{
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-template-areas: 'heading heading picture'
                         'para para picture'
                         'para para picture';
}

.about-section-header{
    grid-area: heading;
}

.about-section-content{
    grid-area: para;
    width: 90%;
    font-size: large;
    letter-spacing: 0.5px;
}

.about-section-image{
    grid-area: picture;
    width: 80%;
}

#skillsSection{
    margin-top: 8%;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-areas: 'heading para para para'
                         'icons icons icons icons';
}

.skills-section-header{
    grid-area: heading;
}

.skills-section-content{
    grid-area: para;
    font-size: large;
    letter-spacing: 0.5px;
}

.skills-section-icons{
    grid-area: icons;
    text-align: center;
    padding-top: 20px;
}

.skills-icon-properties{
    height: 4em;
    width: 4em;
    fill: $icon-color;
    padding: 0 10px;
    margin-bottom: 5%;
}


#contactSection{
  //  text-align: center;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
   // padding-bottom: ;
   margin-bottom: 5%;
}

.contact-section-header{
    font-family: $heading-font;
  //  font-weight: lighter;
    font-size: 7.5vw;
 //   text-align: center;
    margin-block-end: 0.4em;
}

.contact-btn{
    border: 1px solid $primary-font-color;
    padding: 2% 10%;
    width: fit-content;
    
}

.footer-section{
    background-color: $secondary-background-color;
}

.footer-section{
    text-align: center;
    display: flex;
    justify-content: center;
}

.footer-icons{
    width: 1.5em;
    height: 1.5em;
    fill: $secondary-font-color;
    opacity: .8;
}

.footer-icon-background{
    background-color: $tertiary-background-color;
    min-width: 3em;
    height: 3em;
    //text-align: center;
   // justify-content: center;
   // align-items: center;
    border-radius: 50%;
    align-content: center;
    margin: 25px 15px;
}

.footer-icon-background:hover{
    background-color: $primary-background-color;
}
