@use "./display.scss";
@use "./mediaQueries.scss";
@import "./palette.scss";
@import "./fonts.scss";

body{
    margin: 0%;
    background-color: $primary-background-color;
    color: $primary-font-color;
}

.navigation{
    @include display.default-flex;
    box-sizing: border-box;
    height: 80px;
    width: 100vw;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: $primary-background-color;
    @include display.default-padding;
    z-index: 2;
    align-items: center;
    flex-grow: 3;
   
    &__brand{
        font-family: $special-font;
        font-weight: 400;
        font-size: xx-large;

        &--last-name{
            color: $secondary-font-color;
        }
    }

    &__items{
        @include display.default-flex;
        list-style: none;
        margin: 0px;
        align-items: center;
        margin-left: auto;
    
        &--list{
            padding: 20px;
            font-size: 18px;
        }
    }

    &__toggle-button{
        width: 2em;
        height: 2em;
        fill: $primary-font-color;
        cursor: pointer;
        display: none;
    }

}

#toggleBtn{
    display: none;
}

input[type=checkbox]:checked ~ .navigation__items{
    right: 0%;
}

.nav-links{
    color: $primary-font-color;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    letter-spacing: 1px ;    
}
 
.nav-links:hover{
    color: $secondary-font-color;
    transition: 0.7s;
}

.introductory-content{
    @include display.default-padding;
    position: relative;
    top: 80px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    @include display.default-padding;

    &__heading{
        grid-column-start: 1;
        grid-column-end: 3;
        font-family: $heading-font;
        font-weight: 200;
        font-size: 7.5vw;
        margin-bottom: 0;
        margin-top: 0;
    }

    &__heading-underline{
        @include display.default-underline;
        width: 20%;
    }

    &__para{
        grid-row-start: 3;
        font-size: large;
        letter-spacing: 0.5px;
    }
}

.portfolio{
    @include display.default-padding;
    
    &__header{
        @include display.default-sub-header;

        &--icon{
            width:0.75em;
            height:0.75em;
        }
    }
}

.portfolio-card{
    margin-bottom: 35px;
}

.portfolio-card-thumbnail{
        height:40vw;
        background-color: $portfolio-background-color;
}

.portfolio-card-content{
    display: grid;
    grid-template-columns: 65% 35%;
   
    &__header{
        font-family: $special-font;
        font-weight: lighter;
        font-size: x-large;
        margin-block-start: 0.2em;
        margin-block-end: 0.2em;
    }

    &__icon-container{
        grid-column-start: 2;
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-left: auto;
    }    
}

.icon-background{
    display: flex;
    background-color: $portfolio-background-color;
    min-width: 2em;
    height: 2em;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-left: 10px;
}

.portfolio-icon-properties{
    width: 1em;
    height: 1em;
    fill: $primary-font-color ;
}

.programming-language{
    background-color: $portfolio-background-color;
    padding: 5px 15px;
    font-size:x-small;
}

.about{
    @include display.default-padding;
    padding-top: 0%;

    &__header{
        @include display.default-sub-header;
        margin-block-end: 0;
    }

    &__heading-underline{
        @include display.default-underline;
        margin-top: 0;
        margin-bottom: 1em;
        width: 10%;
    }

    &__image{
        width: 99%;
        object-fit: cover;
    }

    &__content{
        font-size: large;
        letter-spacing: 0.5px;
    }
}

.skills{
    @include display.default-padding;

    &__header{
        @include display.default-sub-header;
        margin-block-end: 0;
    }

    &__heading-underline{
        @include display.default-underline;
        margin-top: 0;
        margin-bottom: 1em;
        width: 15%;
    }

    &__content{
        display: none;
    }
    
    &__icons{
        @include display.wrap-flex;
        justify-content: center;
    }
}

.skills-icon-container{
    width: 3em;
    text-align: center;
    margin-bottom: 5%;

    &__logo{
        height: 2em;
        width: 2em;
        fill: $icon-color;
    }

    &__name{
        font-size: xx-small;
    }
}

.contact{
    @include display.default-padding;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;

    &__header{
        text-align: center;
        font-weight:lighter;
        font-size: 15vw;
    }

    &__btn{
        border: 1px solid $primary-font-color;
        padding: 7% 25%;
        width: fit-content;
        transition: all 0.5s;
    }

    &__btn:hover{
        cursor: pointer;
        box-shadow: 0px 0px 8px 0 $primary-font-color;
    }
}

.footer{
    padding: 10px;
    text-align: center;
    background-color: $secondary-background-color;
    margin-top: 30px;;

    &__icon-background{
        align-content: center;
        margin: 15px;
    }
}

.footer-icons{
    width: 1.5em;
    height: 1.5em;
    fill: $primary-font-color;
    opacity: .8;
    padding: .7em;
    background-color: $tertiary-background-color;
    border-radius: 50%;
    transition: 0.5s;
}

.footer-icons:hover{
    background-color: $primary-background-color;
    cursor: pointer;
}

@include mediaQueries.phone{
    .navigation{

        &__toggle-button{
            display: block;
            margin-left: auto;
        }

        &__items{
            position: fixed;
            width: 100%;
            height: 30vh;
            background-color: $secondary-background-color;
            top: 80px;
            left: 0;
            right: -100%;
            @include display.default-flex;
            flex-direction: column;
            padding: 0;
            transition: all .5s;
            
            &--list{
                font-size: 15px;
            }
        }

        &__brand{
            font-size: x-large;
        }
    }

    .introductory-content{
        grid-template-columns: repeat(1, 1fr);
        
        &__heading{
            font-size: 15vw;
            margin-bottom: 0;
            margin-top: 0;
        }
        &__para{
            font-size: medium;
        }
    }

    .about{

        &__content{
            font-size: medium;
        }
    }
   
    .skills{
        padding-top: 0%;
    }

    .contact{
        padding-top: 0;
    }

    .footer{
        margin-top: 30px;;
    
        &__icon-background{
            margin: 5px;
        }
    }
    
    .footer-icons{
        width: 1em;
        height: 1em;
        fill: $primary-font-color;
        opacity: .8;
        padding: .5em;
        background-color: $tertiary-background-color;
        border-radius: 50%;
        transition: 0.5s;
    }     
}

@include mediaQueries.medium-phone{
    .navigation{

        &__items{

            &--list{
                padding: 0px;
                font-size: 15px;
            }
        }

        &__brand{
            font-size: x-large;
        }
    }

    .portfolio{

        &__content{
            @include display.wrap-flex;
            justify-content: space-between;
        }
    }

    .portfolio-card-thumbnail{
        width:40vw;
        height: 20vw;
    }
}

@include mediaQueries.medium-phone-and-above{
    .skills{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas: 'heading para para para'
                             'horizontalLine horizontalLine horizontalLine horizontalLine'
                             'icons icons icons icons';

        &__header{
            grid-area: heading;
        }

        &__heading-underline{
            grid-area: horizontalLine;
            margin-inline-start: 2%;
            width: 8%;
        }
       
        &__content{
            display: block;
            grid-area: para;
            align-self: center;
            font-size: large;
            letter-spacing: 0.5px;
        }

        &__icons{
            grid-area: icons;
        }
    }

    .skills-icon-container{
        width: 4em;
        text-align: center;
        margin-top: 5%;
    
        &__logo{
            height: 3em;
            width: 3em;
        }

        &__name{
            font-size: x-small;
        }
    }   
    
    .contact{
        padding-top: 0%;

        &__header{
            font-size: 7.5vw;
        }

        &__btn{
            padding: 2% 8%;
        }
    }

    .about{
        padding-left: 10%;
        padding-right: 10%;
        display: grid;
        grid-template-areas: 'heading picture'
                             'horizontalLine picture'
                             'para picture';
        align-items: center;
    
        &__header{
            grid-area: heading;
        }

        &__heading-underline{
            grid-area: horizontalLine;
        }

        &__image{
            grid-area: picture;
        }

        &__content{
            grid-area: para;
            padding-right: 5%;
        }
    }
}

@include mediaQueries.tablet{
    .navigation{
        &__items{
            &--list{
                padding: 10px;
            }
        }
        
    }
}


@include mediaQueries.tablet-and-above{
    .portfolio{
        &__content{
            @include display.wrap-flex;
            justify-content: space-between;
        }
    }

    .portfolio-card-thumbnail{
        width:30vw;
        height: 20vw;
    }

    .programming-language{
        font-size:small;
    }

    .skills{

        &__heading-underline{
            margin-inline-start: 2%;
            width: 5%;
        }
    }    
}

@include mediaQueries.laptop{
    .about{
        padding-top: 30px;
        padding-left: 20%;
        padding-right: 20%;
    }
    
    .skills-icon-container{
        margin-top: 2%;
        width: 6em;

        &__logo{
            height: 4em;
            width: 4em;
        }

        &__name{
            font-size:medium;
        }
    }    
}